* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(0, #cbc7f3, #202150);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

/* box e video ================================================= */

.box {
    width: 75%;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 25px;
    display: none;
    position: relative;
    overflow: hidden;
}

.video {
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    }

.video video {
    width: 80vw;
    object-fit: cover;
}

/* status ================================================= */

.status {
    background-color: #2021508c;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.status__trocavid, .status__pontos, .status__relogio, .status__coracao {
    width: 100px;
    height: 50px;
    padding: 15px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.status__trocavid {
    font-size: 18px;
    width: 150px;
    background-color: rgba(187, 76, 235, 0.666);
    border: 1px dashed gray;
}

.status__pontos {
    color: rgb(38, 34, 34);
    background-color: rgba(200, 223, 230,0.8);
    border: 1px dashed gray;
}

.status__relogio {
    color: white;
    background-image: url("./relogio.svg");
    background-size: 100px;
    background-position: 50% 77%;
    background-repeat: no-repeat;
    animation: relogio 1s infinite;
}

.status__coracao {
    background-image: url("./coracao.svg");
    background-size: 80px;
    background-position: 50% 77%;
    background-repeat: no-repeat;
    animation: core 1s infinite;
}

/* Desafio ================================ */

.pergunta {
    font-size: 40px;
    background-color: rgba(255, 244, 228, 0.8);
    padding: 10px;
    margin: 20px 0px;
}

.resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.box .btn {
    font-size: 25px;
    width: 80%;
    margin: 10px;
    padding: 20px;
    background-color: rgba(139, 184, 197, 0.816);
    border-radius: 15px;
    border: 2px solid gray;
    cursor: pointer;
}

.box .btn:hover {
    animation-name: piscar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.box .btn__errado {
    font-size: 22px;
    width: 79%;
    margin: 10px;
    padding: 18px;
    background-color: rgba(194, 194, 194, 0.816);
    border-radius: 15px;
    border: 2px solid gray;
    cursor: default;
}

/* ranking ==================== */

.ranking {
    background-color: #cbc7f3;
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.ranking div {
    color: white;
    flex-basis: 50%;
    border-bottom: 1px groove #2021502f;
    font-size: 38px;
    font-weight: bolder;
    line-height: 40px;
    display: flex;
    justify-content: center;
}

/* Mensagem Box =========================================== */

.msgbox, .msgbox__morte, .msgbox__none {
    box-sizing: border-box;
    width: 65%;
    padding: 40px;
    position: absolute;
    background-color: rgba(255, 228, 196, 0.85);
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

.msgbox {
    /* position: absolute; */
    position: relative;
    display: flex;
}

.msgbox__none {
    display: none;
}

.msgbox__morte {
    position: relative;
    display: flex;
}

.msgbox h2 {
    padding: 10px 0px 40px 0px;
}

.msgbox ul {
    margin: 20px 20px;
}

.msgbox li {
    line-height: 32px;
}

.msgbox p {
    padding: 10px 0px;
}

.msgbox__btn {
    width: 100%;
    background-color: rgba(124, 216, 116, 0.816);
    border-radius: 15px;
    padding: 15px;
    margin: 20px 0px;
    font-size: 32px;
    line-height: 38px;
    cursor: pointer;
}

/* icone animado ================================  */

.darkGroup {
    fill: rgba(0, 0, 255, 0.6);
}

.lightGroup {
    fill: rgba(238, 130, 238, 0.6);
}

.dark1,
.light1,
.dark2 {
    transition: all 1s ease;
}

.dark2 {
    transform: translateX(-50%);
    opacity: 0;
}

svg {
    height: 100px;
}

svg:hover .light1 {
    transform: translateX(18%);
}

svg:hover .dark1 {
    transform: translateX(50%);
    opacity: 0;
}

svg:hover .dark2 {
    transform: translateX(12%);
    opacity: 0.6;
}


/* Animações ==========================================*/

@keyframes piscar {
    0% {
        width: 80%;

        color: white;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
    }
    50%
    {   
        width: 81%;

        color: yellow;
        box-shadow: 5px 5px 5px rgba(255, 255, 50, 1),
                    -5px -5px 5px rgba(255, 255, 50, 1);
    }
    100% {
        width: 80%;

        color: white;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
    }
}

@keyframes core {
    0% {
        color: white;
        background-size: 80px;
        font-size: 100%;
    }
    50%
    {   
        color: yellow;
        background-size: 85px;
        font-size: 99%;
    }
    100% {
        color: white;
        background-size: 75px;
        font-size: 100%;
    }
}

@keyframes relogio {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(45deg);
    }
    66% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes back_tempo {
    0% {
        background: linear-gradient(0, #cbc7f3, #202150);
    }
    33% {
        background: linear-gradient(0, #cbc7f3, #25c933);
    }
    66% {
        background: linear-gradient(0, #cbc7f3, #eef82a);
    }
    100% {
        background: linear-gradient(0, #cbc7f3, #f2385a);
    }
}