* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    width: 80%;
    padding: 20px;
    height: min-content;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: aliceblue;
    display: none;
}

#respostas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.btn {
    width: 400px;
    height: 150%;
    margin: 20px;
    padding: 20px;
    background-color: rgb(104, 165, 218);
    border-radius: 15px;
    border: 2px solid gray;
    
}